# deps
/node_modules

# generated source files
.source
/.turbo

# Next.js build output
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# local environment and deployment files
.env*.local
.vercel
next-env.d.ts

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
